.form{
    &__group:not(:last-child) {  
        margin-bottom: 20px;
        

    }

    &__input{
        font-family: inherit;
        font-size: 15px;
        padding: 15px 20px;
        border-radius: 2px;
        color: inherit;
        background-color: rgba($color-white, 0.5);
        border: none;
        border-bottom: 3px solid transparent;
        width: 90%;
        display: block;
        transition: all 0.3s;

        

        &::-webkit-input-placeholder{
            color: $color-grey-dark-2;
        }

        &:focus:invalid{
            border-bottom: 3px solid $color-secondary-dark;
        }

        &:focus{
            outline: none;
            box-shadow: 0 10px 20px rgba($color-black, 0.1);
            border-bottom: 3px solid $color-primary;
        
            }
    }



    
    
    &__label{
        font-size: 12px;
        font-weight: 700;
        margin-left: 20px;
        margin-top: 7px;
        display: block;
        transition: all 0.3s;
    }

    &__input:placeholder-shown + &__label{
        opacity: 0;
        visibility: hidden;
        transform: translateY(-40px);

    }

    &__radio-group{
        width: 49%;
        display: inline-block;

    }
    &__radio-label{
        font-size: 16px;
        cursor: pointer;
        position: relative;
        padding-left: 45px;
    }
    &__radio-button{

        height: 30px;
        width: 30px;
        border: 5px solid $color-primary;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        top: -10px;
        left: 0;

        &::after{
            height: 13px;
            width: 13px;
            content: "";
            display: block;
            border-radius: 50%;
            position: absolute;
            background-color: $color-primary;
            top: 50%;
            left: 50%;
            transform: translate(-50% , -50%);
            opacity: 0;
            transition: opacity 0.2s;
        }
    }
    &__radio-input{
        display: none;
    }
    &__radio-input:checked ~ &__radio-label &__radio-button::after{
        opacity: 1;
    }
}